.layout-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.layout-sidebar {
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.layout-main {
  overflow-y: auto;
  position: relative;
}
