<div class="login-container flex align-items-center justify-content-center min-h-screen surface-ground">
    <p-card header="Login" [style]="{ width: '360px' }" styleClass="shadow-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
            <p-floatLabel>
                <input pInputText id="email" formControlName="email" class="w-full" />
                <label for="email">Email</label>
            </p-floatLabel>
            
            <p-floatLabel>
                <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full"></p-password>
                <label for="password">Password</label>
            </p-floatLabel>

            <p-button label="Sign In" icon="pi pi-sign-in" type="submit" [disabled]="loginForm.invalid" styleClass="w-full"></p-button>
        </form>
        <ng-template pTemplate="footer">
            <div class="text-center mt-2">
                <span class="text-600">Don't have an account? </span>
                <a [routerLink]="['/register']" class="font-bold text-primary no-underline cursor-pointer">Register</a>
            </div>
            <div class="text-center mt-2">
                 <a [routerLink]="['/']" class="font-bold text-secondary no-underline cursor-pointer">Back to Home</a>
            </div>
        </ng-template>
    </p-card>
</div>
